/* css styles */

/* Avoiding Spam */
.obfuscated-mail-address::before {
    content: attr(data-user) "@" attr(data-domain);
    display: inline;
}
.obfuscated-mail-address > * {
    display: none;
}
